@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}
p{
    font-style: italic;
}
body {
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
     margin: 0.6em auto;}
a{
    text-decoration: none;
    color: rgb(226, 212, 212);}
    
#main_header{
    display: flex;
    background-color: white;}

    #profile_picture{
        background-color: darkcyan;
        min-width: 33%;
        text-align: center;
        padding: 7% 0;}

        #profile_picture img{
            width: 150px;
            border-radius: 50%;
            box-shadow: 0px 0px 10px #000;}

    #resume_title{        
        padding-left: 5em;
        margin: auto 0}

        #resume_title h1 {
            text-transform: uppercase;
            font-size: 2.2em;
            font-weight: lighter;}

        #resume_title h2 {
            text-transform: capitalize;
            font-size: 1.5em; 
            font-weight: lighter;}

        #resume_title hr{
            width:4em;
            text-align: left;
            margin-left: 0;
            border: 1px solid darkcyan; }
        
        .resume_name span{
            color: darkcyan; }

#main_content{
    display: flex;}

    #left_column{
        display: flex;
        min-width: 33%;
        flex-direction: column; 
        background-color: darkcyan;}

        .contact, .about_me {
            padding-bottom: 30px;}

            .contact h3 , .about_me h3 , #hobbies h3{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.1em;
                background-color:black;
                color: darkcyan; }

        .contact p, .about_me p{
            padding: 0.62em 0.62em; }
        
        .contact span{
            font-weight: bolder; }
    
    #right_column{
        display: flex;
        flex-direction: column;       
        padding: 0 2em;
        background-color: white;}

        .education{
            display: flex;
            flex-direction: column;}

            .header_section{
                display: flex;
                border-bottom: 1px solid #000;}

                .logo_section i{
                    font-size: 1.56em;
                    color: darkcyan; }
                
                .title_section h3{
                    text-transform: uppercase;
                    padding-left: 2em;}  
            

            .content_section{
                display: flex; 
                margin-top: 2em; }

                .date{
                    display: flex; }
                    .date p{
                    width: 6em;
                    margin-left: 0.125em;}

                    .date p{
                        padding-left: 0.5em;
                    }

                .logof i {
                    font-size: 0.5em; }

                .content{
                    margin-left: 4em;}

                .content h5{
                    text-transform: uppercase;
                    font-size: 1em;
                    font-weight: bolder;
                    margin-bottom: 1em;}

                .content h6{
                    text-transform: capitalize;
                    font-size: 1.05em;
                    margin-bottom: 0.3em; }

        .experience{
            margin-top: 3.75em;
            padding-bottom: 2.5em; }


footer{
    display: flex;}

    #hobbies{        
        min-width: 33%;
        background-color: darkcyan;
        padding-top: 2em;}

        .logo_footer{
            display: flex;
            justify-content: space-evenly;            
            padding-top: 1.87em;}

            .logo_footer i{
                font-size: 2.5em;}

    #recommandation{
        display: flex;
        flex:1;
        flex-direction: column;
        padding: 0 2em;       
        background-color:white;}
        
        .reco_content{       
            display:flex;                        
            padding: 1.87em 0;
            margin-right: 1.87em;
            justify-content: space-between; }


